<section id="hero" class="hero" style="position: relative;">
    <!-- TEXT BG-->
    <div class="hero-content">
        <h1 class="creative-text text-black fw-bolder" style="font-size: 128px;">Creative</h1>
        <div class="loader">
            <div class="modelViewPort">
                <div class="eva">
                    <div class="head">
                        <div class="eyeChamber">
                            <div class="eye"></div>
                            <div class="eye"></div>
                        </div>
                    </div>
                    <div class="bodyr">
                        <div class="hand"></div>
                        <div class="hand"></div>
                        <div class="scannerThing"></div>
                        <div class="scannerOrigin"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ad-studio-wrapper">
            <h1 class="ad-text text-black fw-bolder" style="font-size: 128px;">Ad</h1>
        </div>
        <div class="position-relative">
            <h1 class="studio-text text-black fw-bolder" style="font-size: 128px;">Studio</h1>
        </div>

    </div>
    <div class="hero-button">
        <a href="https://t.me/bloody_maggie" target="_blank" class="button-link">
            <button class="button" data-text="Awesome">
                <span class="actual-text">&nbsp;UPGRADE&nbsp;</span>
                <span aria-hidden="true" class="hover-text">&nbsp;UPGRADE&nbsp;</span>
            </button>
        </a>
    </div>>
    <div class="bottom-right">
        <div class="cuboid">
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:-1;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:0;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:-1;--y:1;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:-1;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--fz:0"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--fz:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:0;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:0;--y:1;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:-1;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--fz:0"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--fz:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:0;--z:1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:-1;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--fz:0"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--fz:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:0;--ry:1;--fy:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--fz:0"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--fz:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--rx:1;--fx:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--rx:1;--fx:1"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--ry:1;--fy:-1"></div>
            <div class="cube" style="--x:1;--y:1;--z:1;--ry:1;--fy:1"></div>
        </div>
    </div>

</section>

<!-- Десктопная версия -->
<section id="services" class="services services-desktop">
    <img src="~/images/BgService.jpg" class="services-bg" alt="services-background">
    <div class="services-overlay"></div>

    <div class="services-visual">
        <div class="circle-wrapper">
            <div class="circle"></div>
            <div class="orbit">
                <div class="orbit-item">01 Запустить продукт</div>
                <div class="orbit-item">02 Увеличить продажи</div>
                <div class="orbit-item">03 Сделать бренд узнаваемым</div>
                <div class="orbit-item">04 Забрать маркетинг под ключ</div>
                <div class="orbit-item">05 Создать цифровую экосистему</div>
            </div>
        </div>
    </div>

    <div class="services-content">
        <div class="services-right">
            <h2>Strategy</h2>
            <h2>Production</h2>
            <h2>Promotion</h2>
            <div class="dvd"></div>
        </div>
    </div>
</section>
<!-- Мобильная версия -->
<section id="services-mobile" class="services services-mobile">
    <div class="mobile-container">
        <h2 class="mobile-title">
            Strategy </br>
            Production</br>
            Promotion
        </h2>

        <div class="mobile-list">
            <div class="mobile-item">
                <span class="item-number">01</span>
                <span class="item-text">Запустить продукт</span>
            </div>
            <div class="mobile-item">
                <span class="item-number">02</span>
                <span class="item-text">Увеличить продажи</span>
            </div>
            <div class="mobile-item">
                <span class="item-number">03</span>
                <span class="item-text">Сделать бренд узнаваемым</span>
            </div>
            <div class="mobile-item">
                <span class="item-number">04</span>
                <span class="item-text">Забрать маркетинг под ключ</span>
            </div>
            <div class="mobile-item">
                <span class="item-number">05</span>
                <span class="item-text">Создать цифровую экосистему</span>
            </div>
        </div>

        <div class="dvd-mobile"></div>
    </div>
</section>

<section id="about" class="section about-orbit">
    <div class="about-bg">
    </div>
    <div class="container about-orbit-container">
        <h1 class="section-title text-center text-black mb-5 fw-bolder" style="font-size: 128px;">
            How it work
        </h1>

        <div class="orbit-carousel">
            <div class="orbit-card" data-index="0">
                <div class="card-circle">
                    <img src="~/images/kakmirabotaem/issl.png" alt="Исследование" class="card-bg-image" />
                    <div class="card-content">
                        <span class="about-step">01</span>
                        <h3>Исследование</h3>
                        <p>Анализ рынка, аудит бренда и конкурентов</p>
                    </div>
                </div>
            </div>

            <div class="orbit-card" data-index="1">
                <div class="card-circle">
                    <img src="~/images/kakmirabotaem/strategy.png" alt="Стратегия" class="card-bg-image" />
                    <div class="card-content">
                        <span class="about-step">02</span>
                        <h3>Стратегия</h3>
                        <p>Позиционирование и каналы</p>
                    </div>
                </div>
            </div>

            <div class="orbit-card" data-index="2">
                <div class="card-circle">
                    <img src="~/images/kakmirabotaem/razrabotka.png" alt="Разработка" class="card-bg-image" />
                    <div class="card-content">
                        <span class="about-step">03</span>
                        <h3>Разработка</h3>
                        <p>Сайт, боты, метрики</p>
                    </div>
                </div>
            </div>

            <div class="orbit-card" data-index="3">
                <div class="card-circle">
                    <img src="~/images/kakmirabotaem/start.png" alt="Запуск" class="card-bg-image" />
                    <div class="card-content">
                        <span class="about-step">04</span>
                        <h3>Запуск</h3>
                        <p>Публикация и аналитика</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cases" class="section">

    <div class="container">
        <h1 class="section-title text-center text-white mb-5 fw-bolder" style="font-size: 128px;">OUR WORKS</h1>

        <div class="row g-4">

            <div class="col-md-4">
                <div class="case-3d">

                    <div class="case-bg"></div>

                    <div class="case-card">
                        <video class="case-video" autoplay muted loop playsinline>
                            <source src="~/images/cases/kling_20260115_text_to_video_futuristic_1365_0%20(online-video-cutter.com).mp4" type="video/mp4">
                        </video>

                        <div class="case-overlay"></div>

                        <div class="case-content">
                            <h2>Рекламные кампании</h2>
                            <p>TV, Radio, Digital, Telegram</p>
                            <a href="/Home/Cases" class="case-btn">
                                Смотреть проекты
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="case-3d">

                    <div class="case-bg"></div>

                    <div class="case-card">
                        <video class="case-video" autoplay muted loop playsinline>
                            <source src="~/images/cases/like_2_0.mp4" type="video/mp4">
                        </video>

                        <div class="case-overlay"></div>

                        <div class="case-content">
                            <h2>Контент и продакшн</h2>
                            <p>Instagram, Youtube, Рекламные ролики, Игры</p>
                            <a href="/Home/Cases" class="case-btn">
                                Смотреть проекты
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="case-3d">

                    <div class="case-bg"></div>

                    <div class="case-card">
                        <video class="case-video" autoplay muted loop playsinline>
                            <source src="~/images/cases/binary_code.mp4" type="video/mp4">
                        </video>

                        <div class="case-overlay"></div>

                        <div class="case-content">
                            <h2>Цифровая экосистема</h2>
                            <p>Сайты, Боты, Воронки, Упаковка продукта</p>
                            <a href="/Home/Cases" class="case-btn"> Смотреть проекты
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    // Инициализация AOS
    document.addEventListener('DOMContentLoaded', function() {
        if (typeof AOS !== 'undefined') {
            AOS.init({
                duration: 800,
                once: true,
                offset: 100
            });
        }
        
        // Инициализация карусели карточек
        initOrbitCarousel();
    });
</script>